@import url('https://fonts.googleapis.com/css?family=Lato:100,400|Raleway:700');

$upperText:uppercase;

html,body {
  font-family: Lato, Raleway, Arial sans-serif;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font: 700 35px/1.7 Raleway, sans-serif;
}
p {
  padding: 0;
}

form {
  display: block;
  position: relative;
  width: 50%;
  height: 40%;
  top: 20%;
  margin: 70px auto;
}
a,
button{
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

button {
  display: block;
  background-color: transparent;
  border: 2px solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding: 0 25px;
  min-height: 60px;
  text-transform: uppercase;
  font: 400 24px Lato, sans-serif;
  margin: auto;
}
.btn-dark {
  border-color: #222;
  color: #222;
  width: 370px;
  text-transform: $upperText;
  margin: 80px auto 0;

}
.btn-light {
  position: absolute;
  bottom: -10%;
  left: 40%;
  border-color: #fff;
  color: #fff;
  width: 180px;
  text-transform: $upperText;
  margin: auto;


}
button:hover {
  opacity: 0.5;
}
button:active {
  opacity: 0.5;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

input[type="text"],
input[type="email"],
textarea {
  position: absolute;
  background: transparent;
  height: 40px;
  border: none;
  border-bottom: 1px solid #fff;

  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="text"] {
  width: 49%;
  height: 40px;
}
input[type="email"] {
  width: 49%;
  right: 0;
  height: 40px;
}
textarea {
  width: 100%;
  bottom: 20%;
  height: 80px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #fff;
}

input[type="text"],
input[type="email"] {
  &::-moz-placeholder {
    font: 400 18px Lato, sans-serif;
    font-style: italic;
    color: #676767;
  }
  &:-ms-input-placeholder {
    font: 400 18px Lato, sans-serif;
    font-style: italic;
    color: #676767;
  }
  &::-webkit-input-placeholder {
    font: 400 18px Lato, sans-serif;
    font-style: italic;
    color: #676767;
  }
}

textarea {
  &::-moz-placeholder {font: 400 18px Lato, sans-serif;
    font-style: italic;
  color: #676767;
  text-align: end;}
  &:-ms-input-placeholder {font: 400 18px Lato, sans-serif;
    font-style: italic;
    color: #676767;
    text-align: end;}
  &::-webkit-input-placeholder {font: 400 18px Lato, sans-serif;
    font-style: italic;
    color: #676767;
    text-align: match-parent;
    vertical-align: bottom;
    }

}


.container {
  max-width: 1600px;
  box-sizing: border-box;
  padding: 0 174px;
}
.clearfix {
  clear: both;
}

/*Begin Header*/
.hd {
  &-container {
    background: url("img/bg1-HERO.jpg") 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    padding-top: 49px;
    color: #fff;
    position: relative;
  }
  &-nav {
    //display: inline-block;
  }
  &-logo {
    float: left;
    &:hover {
      opacity: 0.5;

    }
  }
  &-menu-list {
    display: inline-block;
    float: right;
    width: 53%;
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-transform: uppercase;


    & a {
      text-decoration: none;
      color: #fff;
    }
  }
  &-menu-item {
    display: inline-block;
    margin-right: 7%;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      text-decoration: underline;
    }

  }
  &-title {
    margin: auto;
    font-size: 48px;
    text-align: center;
    padding-top: 235px;
    text-transform: $upperText;

    &:after {
      display: block;
      content: '';
      width: 90px;
      height: 2px;
      background: #fff;
      margin: 25px auto;
    }
  }
  &-text {
    font: 400 22px/1.3 Raleway, sans-serif;
    margin: 40px auto;
    text-align: center;
    padding-bottom: 248px;
  }
  &-scroll {
    position: absolute;
    left: 45%;
    bottom: 44px;
    &:hover {
      @extend .hd-logo:hover;}
    }
    .cls-1 {
      position: absolute;
      left: 50%;
      display: inline-block;
      fill: #fff;
      fill-rule: evenodd;
      opacity: 0.5;
      margin: 0 auto;
      text-align: center;
    }
  }

/*END header*/

/*BEGIN Services*/

.services {
  height: 735px;
  padding: 75px 0;
  text-align: center;

   .title-dark {
    color: #222;
    text-align: center;
     text-transform: $upperText;
    &:after {

      display: block;
      content: '';
      width: 90px;
      height: 2px;
      background: #222;
      margin: 50px auto;
    }

  }
  &-wrapper {
    max-width: 1170px;
    display: inline-block;

  }
  &-item {
    float: left;
    margin-right: 8%;
    width: 25%;
    &:last-of-type {
      margin-right: 0;
    }
    }
  &-sub-title {
    font-size: 24px;
    text-align: center;
  }
  &-text {
    font-size: 16px;
    text-align: center;
  }

}
/*END Services*/

/*BEGIN Dolore*/
.dolore {
  background: url("img/bg-section3.jpg") 50% no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  padding: 0;
  color: #fff;
  &-section {
    background-color: rgba(34, 34, 34, 0.7);
    height:100%;
    padding: 0 215px;
  }
  &-left {
    float: left;
    width: 55%;
  }
  &-title {
    font: 400 45px/1.5 Lato, sans-serif;
    letter-spacing: 0.04em;
    text-transform: $upperText;


  }
  &-text {
    font-family: Lato sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 100;
    text-align: left;
  }
  & a {

  }
  &-right {
    display: inline;
    position: absolute;
    right: 16%;
    bottom: 0;

  }
}
/*END Dolore*/

/*BEGIN ourworks*/

.ourworks {
  min-height: 950px;
  padding-top: 75px;
  text-align: center;
  .title-dark {
    color: #222;
    text-align: center;
    text-transform: $upperText;
    &:after {

      display: block;
      content: '';
      width: 90px;
      height: 2px;
      background: #222;
      margin: 50px auto;
    }
  }
}
.work-items {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  margin-top: 95px;
  &[class~="item"] {

  }
}

/*END ourworks*/


/*BEGIN contact*/
.contact {
  position: relative;
  background: url("img/bg-contact.jpg") 50% no-repeat;
  background-size: cover;
  height: 802px;
  padding-top: 75px;
  color: #fff;
  & h2 {
    color: #fff;
    text-align: center;
    text-transform: $upperText;
    &:after {

      display: block;
      content: '';
      width: 90px;
      height: 2px;
      background: #fff;
      margin: 50px auto;
    }
  }
  &-social {
    position: absolute;
    width: 18%;
    list-style-type: none;
    display: inline-block;
    color: #fff;
    margin: auto;
    left: 40%;
    & li {
      display: inline-block;
      margin-right: 10.5%;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

/*END contact */

